@use '../abstracts/' as *;

.interacitve-figure {
  position: relative;
  overflow: hidden;

  figcaption {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgb(clr(neutral, 900), 0.75);
    backdrop-filter: blur(0.25rem);
  }

  // mouse
  @media (hover: hover) and (pointer: fine) {
    figcaption {
      transition: transform ease-out 350ms;
      transform: translateY(100%);
    }

    &:hover figcaption {
      transform: translateY(0);
    }
  }
}
